<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/list',books: @books,user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@user.id) do %>
                <%= @books.title %>
              <% end %>  
            </td>
            <td><%= @books.body %></td>
            <td>
              <%= link_to "Edit",edit_book_path(@user.id),class:"btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy",book_path(@user.id),method: :destroy,"data-confirm"=>"本当に消しますか？",class:"btn btn-sm btn-danger" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

